{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}

{% block body %}

{% if error %}
    <h3>Error: {{ error }}</h3>
{% else %}
{%endif%}

<form method="post">
    <label for="mxscore">Max Score:</label>
    <br>
    <input type="number" name="mxscore"
           placeholder="100"
           value="{{ request.form['mxscore'] }}"></input>
    <br>

    <label for="mnscore">Min Score:</label>
    <br>
    <input type="number" name="mnscore"
           placeholder="0"
           value="{{ request.form['mnscore'] }}"></input>
    <br>

    <label for="input_list">Input List:</label>
    <br>
    <input type="text" name="input_list"
           placeholder="0"
           value="{{ request.form['input_list'] }}"></input>
    <br>
    <button type="submit">Submit</button>
</form>
<br>

{% if image %}
    <img src={{ image }} alt="Chart" height="480" width="640">
{% else %}
{%endif%}

{% endblock %}